# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\KULIAH\OKANEMO\Daril-Nofriansyah\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
